<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2>Genres</h2>
            <a href="/genres/add" class="button primary big">+ Add</a>
          </div>
          <ul class="list-content">
            <% if (genres && genres.length> 0) { %>
              <% genres.forEach((genre)=> { %>
                <li>
                  <a href="/genres/edit/<%= genre.genre_id %>" class="item">
                    <div>
                      <%= genre.name %>
                    </div>
                    <div class="amount">(<%= genre.game_count %> games)</div>
                    <div class="edit">✎</div>
                  </a>
                </li>
                <% }) %>
                  <% } %>
          </ul>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>