<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content" responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form class="confirm-form formSmall" method="post" action="/genres/edit/<%= genre.genre_id %>">
              <div class="label-input">
                <label for="nameInput">Name</label>
                <input type="text" id="nameInput" name="name" placeholder="Genre" value="<%= genre.name %>" required />
              </div>
              <button type="submit" class="button primary big">Submit</button>
            </form>
            <hr>
            <form class="confirm-form" method="post" action="/genres/delete/<%= genre.genre_id %>">
              <div class="flex-row center">
                <button type="submit" class="button accent big">Delete</button>
              </div>
            </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
        <script type="text/javascript" src="/scripts/formConfirm.js"></script>
  </body>

</html>