<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <div>Genres</div>
  <% if (genres && genres.length > 0) { %>
  <% genres.forEach((genre) => { %>
    <div class="genre">
      <div class="flex-row">
        <div><%= genre.name %></div>
        <div>(<%= genre.game_count %> games)</div>
        <a href="/genres/edit/<%= genre.genre_id %>">Edit</a>
      </div>
    </div>
    <% }) %>
    <% } %>
    <hr>
    <a href="/genres/add">Add</a>
  <%- include('../partials/footer') %>
</body>

</html>