<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form id="addForm" class="formBig" method="post" action="/games/add">
              <div class="label-input">
                <label for="titleInput">Title</label>
                <input id="titleInput" type="text" name="title" placeholder="Title" maxlength="255" required />
              </div>
              <div class="label-input">
                <label for="developerInput">Developer</label>
                <select id="developerInput" name="developerId" required>
                  <option value="" disabled selected>
                    Select a developer
                  </option>
                  <% developers.forEach((developer)=> { %>
                    <option value="<%= developer.developer_id %>">
                      <%= developer.name %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <fieldset class="checkbox-group">
                <legend>Genres</legend>
                <% genres.forEach((genre)=> { %>
                  <label>
                    <input type="checkbox" name="genreIds" value="<%= genre.genre_id %>">
                    <%= genre.name %>
                  </label>
                  <% }); %>
              </fieldset>
              <fieldset class="checkbox-group">
                <legend>Platforms</legend>
                <% platforms.forEach((platform)=> { %>
                  <label>
                    <input type="checkbox" name="platformIds" value="<%= platform.platform_id %>">
                    <%= platform.abbrev %>
                  </label>
                  <% }); %>
              </fieldset>
            </form>
            <button type="submit" form="addForm" class="button primary big">Submit</button>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>