<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content" responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form id="editForm" class="confirm-form formBig" method="post" action="/games/edit/<%= game.game_id %>">
              <div class="label-input">
                <label for="titleInput">Title</label>
                <input type="text" id="titleInput" name="title" placeholder="Title" value="<%= game.title %>"
                  maxlength="255" required />
              </div>
              <div class="label-input">
                <label for="developerInput">Developer</label>
                <select name="developerId" id="developerInput" required>
                  <% developers.forEach((developer)=> { %>
                    <option value="<%= developer.developer_id %>" <%=game.developer_id===developer.developer_id
                      ? "checked" : "" %>><%= developer.name %>
                    </option>
                    <% }); %>
                </select>
              </div>
              <fieldset class="checkbox-group">
                <legend>Genres</legend>
                <% genres.forEach((genre)=> { %>
                  <label>
                    <input type="checkbox" name="genreIds" value="<%= genre.genre_id %>"
                      <%=game.genre_ids.includes(genre.genre_id) ? "checked" : "" %>>
                    <%= genre.name %>
                  </label>
                  <% }); %>
              </fieldset>
              <fieldset class="checkbox-group">
                <legend>Platforms</legend>
                <% platforms.forEach((platform)=> { %>
                  <label>
                    <input type="checkbox" name="platformIds" value="<%= platform.platform_id %>"
                      <%=game.platform_ids.includes(platform.platform_id) ? "checked" : "" %>>
                    <%= platform.abbrev %>
                  </label>
                  <% }); %>
              </fieldset>
              <input type="hidden" name="password"/>
            </form>
            <button type="submit" form="editForm" class="button primary big">Submit</button>
            <hr>
            <form class="confirm-form" method="post" action="/games/delete/<%= game.game_id %>">
              <div class="flex-row center">
                <button type="submit" class="button accent big">Delete</button>
              </div>
              <input type="hidden" name="password"/>
            </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
        <script type="text/javascript" src="/scripts/formConfirm.js"></script>
  </body>

</html>