<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form class="formSmall" method="post" action="/developers/add">
              <div class="label-input">
                <label for="nameInput">Name</label>
                <input type="text" id="nameInput" name="name" placeholder="Developer" maxlength="64" required />
              </div>
              <button type="submit" class="button primary big">Submit</button>
            </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>