<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form method="post" class="formSmall" action="/platforms/add">
              <div class="label-input">
                <label for="nameInput">Name</label>
                <input type="text" id="nameInput" name="name" placeholder="Platform" maxlength="64" required />
              </div>
              <div class="label-input">
                <label for="abbrevInput">Abbreviation</label>
                <input type="text" id="abbrevInput" name="abbrev" placeholder="Abbreviation" maxlength="8" required />
              </div>
              <button type="submit" class="button primary big">Submit</button>
            </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>