<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2>Platforms</h2>
            <a href="/platforms/add" class="button primary big">+ Add</a>
          </div>
          <ul class="list-content">
            <% if (platforms && platforms.length> 0) { %>
              <% platforms.forEach((platform)=> { %>
                <li>
                  <a href="/platforms/edit/<%= platform.platform_id %>" class="item">
                    <div>
                      <%= platform.name %>
                    </div>
                    <div class="amount">(<%= platform.game_count %> games)</div>
                    <div class="edit">✎</div>
                  </a>
                </li>
              <% }) %>
            <% } %>
          </ul>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>
</html>