<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
          <form method="post" class="formSmall" action="/platforms/add">
            <input type="text" name="name" placeholder="Platform" maxlength="64" required />
            <input type="text" name="abbrev" placeholder="Abbreviation" maxlength="8" required />
            <button type="submit" class="button primary big">Submit</button>
          </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
  </body>

</html>