<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content" responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
          <form class="confirm-form formSmall" method="post" action="/platforms/edit/<%= platform.platform_id %>">
            <input type="text" name="name" placeholder="Platform" value="<%= platform.name %>" maxlength="64" required />
            <input type="text" name="abbrev" placeholder="Abbreviation" value="<%= platform.abbrev %>" maxlength="8" required />
            <button type="submit" class="button primary big">Submit</button>
          </form>
          <hr>
          <form class="confirm-form" method="post" action="/platforms/delete/<%= platform.platform_id %>">
            <div class="flex-row center">
              <button type="submit" class="button accent big">Delete</button>
            </div>
          </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
        <script type="text/javascript" src="/scripts/formConfirm.js"></script>
  </body>

</html>