<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="site-content" responsive-container">
        <div class="list">
          <div class="list-header">
            <h2><%- title %></h2>
          </div>
          <%- include("../partials/errors.ejs") %>
            <form class="confirm-form formSmall" method="post" action="/platforms/edit/<%= platform.platform_id %>">
              <div class="label-input">
                <label for="nameInput">Name</label>
                <input type="text" id="nameInput" name="name" placeholder="Platform" value="<%= platform.name %>"
                  maxlength="64" required />
              </div>
              <div class="label-input">
                <label for="abbrevInput">Abbreviation</label>
                <input type="text" id="abbrevInput" name="abbrev" placeholder="Abbreviation"
                  value="<%= platform.abbrev %>" maxlength="8" required />
              </div>
              <input type="hidden" name="password"/>

              <button type="submit" class="button primary big">Submit</button>
            </form>
            <hr>
            <form class="confirm-form" method="post" action="/platforms/delete/<%= platform.platform_id %>">
              <div class="flex-row center">
                <button type="submit" class="button accent big">Delete</button>
              </div>
              <input type="hidden" name="password"/>
            </form>
        </div>
      </div>
      <%- include('../partials/footer') %>
        <script type="text/javascript" src="/scripts/formConfirm.js"></script>
  </body>

</html>